@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
}

body {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(212, 20, 20, 0.658), rgba(212, 20, 20, 0.72) 100%), url('../img/bg.jpg');
}

header {
    background-color: black;
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

#grass {
    display: none;
    color: rgba(255, 165, 0, .25);
}

.logo {
    margin-left: 40%;
    color: blanchedalmond;
}

span {
    color: orangered;
}
 
main {
    background-color: rgba(24, 24, 24, 0.966);
    width: 70%;
    height: 550px;
    margin-bottom: 50px;
    padding: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin-left: 35%;
    margin-top: 0;
    margin-bottom: 10px;
    background: rgb(233, 224, 186);
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.score span {
    font-size: 50px;
}

#snake {
    margin-left: 2%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    border-right: 3px solid rgba(75, 75, 75, 0.733);
    border-bottom: 3px solid rgba(75, 75, 75, 0.733);
} 

.botoes {

    align-items: center;
    justify-content: center;
    color: cornsilk;
    font-size: 10px;
    margin-left: 4%;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 40px;
    margin-bottom: 10px;
    background: rgb(248, 26, 26);
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.fas {
    display: flex;
    flex-direction: row;
    color: cornsilk;
    font-size: 40px;
}

.fas:hover{
    color: rgb(24, 26, 26);
}

.frutas {
    width: 70px;
    height: 50px;
    padding-left: 40px;
}

.frutas_pontos {
    background-color: rgb(233, 224, 186);
    width: 200px;
    height: 100px;
    margin-bottom: 50px;
    margin-left: 200px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}